pyTelegramBotAPI
tmdbsimple
requests
pyyaml
inject
urllib3==1.24.3
git+https://github.com/rmartin16/qbittorrent-api.git@08c1815#egg=qbittorrent-api
simplejson
parse-torrent-name
peewee
pymysql
python-dotenv
sentry_sdk==0.14.2
cachetools
