aiodns==3.0.0
aiofiles==0.8.0
aiohttp==3.8.1
aiohttp-socks==0.7.1
aiomultiprocess==0.9.0
aiosignal==1.2.0
aiosqlite==0.17.0
antlr4-python3-runtime==4.8
anyio==3.4.0
appdirs==1.4.4
appnope==0.1.2
APScheduler==3.0.0
arabic-reshaper==2.1.3
asgiref==3.4.1
asttokens==2.0.5
async-timeout==4.0.2
asyncio==3.4.3
attrdict==2.0.1
attrs==21.4.0
backcall==0.2.0
backoff==1.11.1
beautifulsoup4==4.10.0
black==22.1.0
blis==0.7.7
boxsdk==3.1.0
branca==0.4.2
bs4==0.0.1
cachetools==4.2.2
catalogue==2.0.7
cchardet==2.1.7
censys==2.1.0
certifi==2021.10.8
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.4
cheap-repr==0.5.1
click==8.0.3
click-plugins==1.1.1
colorama==0.4.4
colorlog==5.0.1
commonmark==0.9.1
cryptography==3.4.7
cymem==2.0.6
dataclasses==0.6
dataclasses-json==0.5.4
DAWG-Python==0.7.2
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.12
distlib==0.3.1
dnspython==2.1.0
docopt==0.6.2
executing==0.8.2
fastapi==0.70.0
filelock==3.0.12
Flask==1.1.2
Flask-Cache==0.13.1
folium==0.11.0
frozenlist==1.2.0
future==0.18.2
future-annotations==1.0.0
geographiclib==1.52
geopy==2.2.0
gitlab==1.0.2
gnureadline==8.0.0
gunicorn==20.1.0
h11==0.12.0
html5lib==1.1
htmlmin==0.1.12
hvac==0.10.9
idna==3.3
importlib-metadata==4.8.2
Inject==4.3.1
instagram-private-api==1.6.0.0
ipython==8.0.1
itsdangerous==1.1.0
jedi==0.18.1
Jinja2==3.0.3
jira==3.1.1
json-schema-for-humans==0.34.1
jsonpickle==2.0.0
keyring==23.5.0
langcodes==3.3.0
limiter==0.1.2
limits==1.6
lxml==4.7.1
maigret==0.4.1
markdown2==2.4.0
MarkupSafe==2.0.1
marshmallow==3.13.0
marshmallow-enum==1.5.1
matplotlib-inline==0.1.3
mock==4.0.3
more-itertools==8.11.0
multidict==5.2.0
murmurhash==1.0.6
mypy-extensions==0.4.3
netaddr==0.8.0
networkx==2.5.1
numpy==1.21.2
oauthlib==3.1.1
omegaconf==2.1.2
packaging==21.3
parse-torrent-name==1.1.1
parso==0.8.3
pathspec==0.9.0
pathy==0.6.1
peewee==3.14.4
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.3.2
platformdirs==2.5.0
playsound==1.2.2
preshed==3.0.6
prettytable==0.7.2
progress==1.6
prompt-toolkit==3.0.28
protobuf==3.17.3
ProxyGrab==0.3.1
psutil==5.6.7
ptyprocess==0.7.0
pure-eval==0.2.2
pycares==4.0.0
pycountry==22.1.10
pycparser==2.20
pydantic==1.8.2
pyee==8.2.2
PyGithub==1.54.1
Pygments==2.8.1
PyInquirer==1.0.3
PyJWT==1.7.1
pymorphy2==0.9.1
pymorphy2-dicts-ru==2.4.417127.4579844
PyMySQL==1.0.2
pyOpenSSL==20.0.1
pyparsing==3.0.8
PyPDF2==1.26.0
pyppeteer==0.2.6
pyreadline==2.1
PySocks==1.7.1
pyTelegramBotAPI==3.8.1
python-bidi==0.4.2
python-dateutil==2.8.1
python-dotenv==0.17.0
python-gitlab==2.6.0
python-socks==2.0.3
pytz==2021.1
pyvis==0.1.9
PyYAML==6.0
qbittorrent-api @ git+https://github.com/rmartin16/qbittorrent-api.git@08c18157d36135bcd67117b194e35224c13df4e5
redis==3.5.3
regex==2021.4.4
reportlab==3.6.1
requests==2.27.1
requests-futures==1.0.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
responses==0.13.4
retrying==1.3.3
rich==10.15.2
ru-core-news-lg @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_lg-3.2.0/ru_core_news_lg-3.2.0-py3-none-any.whl
ru-core-news-md @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_md-3.2.0/ru_core_news_md-3.2.0-py3-none-any.whl
ruamel.yaml==0.17.4
ruamel.yaml.clib==0.2.2
sentry-sdk==0.14.2
shodan==1.25.0
simplejson==3.17.3
six==1.16.0
slowapi==0.1.5
smart-open==5.2.1
sniffio==1.2.0
snoop==0.4.1
socid-extractor==0.0.22
soupsieve==2.3.1
spacy==3.2.4
spacy-legacy==3.0.9
spacy-loggers==1.0.2
speedtest-cli==2.1.3
spyse-python==2.2.3
srsly==2.4.3
stack-data==0.1.4
starlette==0.16.0
stem==1.8.0
stringcase==1.2.0
theHarvester==0.0.1
thinc==8.0.15
tmdbsimple==2.8.0
token-bucket==0.2.0
tokenize-rt==4.1.0
tomli==2.0.1
toposort==1.6
torch==1.11.0
torchaudio==0.11.0
torrequest==0.1.0
tqdm==4.62.3
traitlets==5.1.1
typer==0.4.1
typing-inspect==0.7.1
typing_extensions==4.0.1
tzlocal==2.1
ujson==4.3.0
urllib3==1.25.11
uvicorn==0.16.0
uvloop==0.16.0
virtualenv==20.4.2
wasabi==0.9.1
wcwidth==0.2.5
webencodings==0.5.1
websockets==9.1
Werkzeug==1.0.1
wikipedia==1.4.0
Wikipedia-API==0.5.4
wrapt==1.12.1
xhtml2pdf==0.2.5
XlsxWriter==3.0.2
XMind==1.2.0
xmltodict==0.12.0
yarl==1.7.2
zipp==3.6.0
